.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;

    .title {
      font-family: cursive;
      color: #009966;
    }

    .sign-in-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }