.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;

  .title {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #008037;
  }

  .sign-in-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1300px) {
  .sign-in {
    .title {
      font-size: 22px;
    }

    .sign-in-buttons {
      flex-direction: column;
      margin-bottom: 30px;
      align-items: center;
    }
  }
}
