.homepage {
  margin-bottom: 200px;

  .banner-container {
    margin-bottom: 100px;

    .banner {
      width: 100%;
      box-shadow: 2px 2px 4px rgb(0 0 0 / 0.2);
    }
  }
}

@media screen and (max-width: 800px) {
  .homepage {
    .banner-container {
      display: none;
    }
  }
}
